body {
    background: url('img/back.jpg') no-repeat fixed;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;
    color: #333;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ima {
    mix-blend-mode: color-dodge;
    width: 80px;
}

.name {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

.navbar li {
    margin: 0 15px;
    font-size: 18px;
    list-style: none;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: #a8c7d3;
}

.navbar li a:hover {
    color: #ca6666;
}

.btn {
    color: #19634a;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    padding: 8px 15px;
    font-size: 16px;
}

.btn:hover {
    background-color: #f0f8ff;
}

/* Form Styles */
.container {
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8a624c; /* Updated color to a darker shade */
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 20px;
}


.form-group input,
.form-group select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    background: #f5f5f5;
    color: #000;
}

.btn2 {
    display: inline-block;
    color: #19634a;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 8px 15px;
    font-size: 16px;
}

.btn2:hover {
    background-color: #f0f8ff;
}

/* Result Display Styles */
.out {
    text-align: center;
    margin: 30px auto;
    padding: 20px 10px;
    width: 30%;
    background-color: #617485;
    color: #fff;
    border: 2px solid #000;
}
